@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
	--primary-text: #fff;
	--primary-background: #343541;
	--secondary-background: #202123;
	--tertiary-background: rgb(80, 40, 40);

	--max-width: 100rem;
}

* {
	margin: 0;
	box-sizing: border-box;
}
p,
h1,
button,
input,
select {
	color: var(--primary-text);
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Lato', 'Calibri', 'Trebuchet MS', sans-serif;
	background-color: var(--primary-background);
}

/* Scrollbar */

*::-webkit-scrollbar {
	width: 0.5rem; /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
	background: var(--primary-background); /* color of the tracking area */
	border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(100, 100, 147, 0.678); /*color of the scroll thumb*/
	border-radius: 10px; /* roundness of the scroll thumb */
}
