* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
}

html {
	font-family: Calibri, 'Trebuchet MS', sans-serif;
	background-color: #343541;
	font-size: 62.5%;
}

.topLevelContainer {
	display: flex;
	justify-content: stretch;
	width: 100vw;
	height: 100vh;
}

.side-bar {
	background-color: #202123;
	width: 24rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 15rem;
	height: 100vh;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 5 20rem;
	justify-content: end;
}

/* MyGPT header */
.main h1 {
	justify-self: start;
	font-size: 3.3rem;
	font-weight: 600;
	padding: 5rem 0;
}

.info {
	color: rgba(255, 255, 255, 0.8);
	font-size: 1.3rem;
	padding: 0 0 1.7rem 0;
	text-align: center;
}

.input-container {
	width: 100%;
	max-width: 65rem;
	position: relative;
	justify-self: end;
}

input {
	border: none;
	background-color: rgba(255, 255, 255, 0.5);
	width: 100%;
	font-size: 2rem;
	padding: 1.1rem;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px, rgba(0, 0, 0, 0.05) 0 -12px 30px,
		rgba(0, 0, 0, 0.05) 0 4px 6px, rgba(0, 0, 0, 0.05) 0 12px 3px,
		rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

input:focus {
	outline: none;
}

#submit {
	position: absolute;
	right: 1rem;
	font-size: 3.2rem;
	color: #532222;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.newChatButton {
	border: solid 0.5px rgba(255, 255, 255, 0.5);
	background-color: transparent;
	border-radius: 5px;
	padding: 1rem;
	margin: 1rem;
	cursor: pointer;
}

footer {
	padding: 1rem;
	margin: 1rem;
	border-top: solid 0.5px rgba(255, 255, 255, 0.5);
	text-align: center;
	font-size: 1.1rem;
}

.history {
	padding: 1rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.history p {
	cursor: pointer;
	padding: 1rem;
	font-size: 1.4rem;
	text-transform: capitalize;
}

#output {
	width: 100%;
	font-size: 1.5rem;
	margin-bottom: 3rem;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: justify;
	padding: 1rem 3rem;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
/* CHAT */
.wholeMessage {
	display: flex;
	gap: 2rem;
	background-color: #3b2121;
	padding: 1rem;
	align-items: center;
	border-radius: 6px;
}

.role {
	flex-basis: 8rem;
}

.response {
}

#gptVersion {
	background-color: transparent;
	border: transparent;
	padding: 1rem;
	margin: 1rem;
}
#gptVersion option {
	background-color: #202123;
}
/* Scrollbar */
div::-webkit-scrollbar {
	width: 11px; /* width of the entire scrollbar */
}

div::-webkit-scrollbar-track {
	background: #202123; /* color of the tracking area */
	border-radius: 20px;
}

div::-webkit-scrollbar-thumb {
	background-color: rgba(100, 100, 147, 0.678); /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
}
